<h1>Listing posts</h1>
  
<% @posts.each do |post| %>
 <div class="post">
    <h2><%= link_to post.title, post %></h2>
    <p><%= simple_format post.body %></p>
    <ul>
      <li><%= link_to 'Edit', edit_post_path(post) %></li>
      <li><%= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' } %></li>
    </ul>
  </div>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
